/* PAGE TRANSITION */
/* page-transition.css */
#page-overlay {
  position: fixed;
  inset: 0;
  background: rgb(245, 49, 49);
  z-index: 9999;
  pointer-events: none;
  transform: translateY(100%); /* start off-screen below */
  transition: transform 0.8s cubic-bezier(0.85,0,0.15,1);
  will-change: transform;
}

/* Slide up on page exit */
#page-overlay.exit {
  transform: translateY(-1%);
  pointer-events: none;
}